<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pingerx.socialgo.wechat">

    <application>
        <!--微信-->
        <activity
            android:name="com.pingerx.socialgo.wechat.uikit.WxActionActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--微信-->
        <activity-alias
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:targetActivity="com.pingerx.socialgo.wechat.uikit.WxActionActivity"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>
